<div class="container-fluid"><div class="card bg-secondary text-white">
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <h5 class="card-text">{{product.price|currency:'USD'}}</h5>
  </div>
  <table class="table">
    <tr>
      <td scope="row">
        <b>Product Type</b>
      </td>
      <td>
        
      <i class='fa-solid fa-shirt' style='color:#115a5a' *ngIf="product.productType=='Apparel'"></i>
        
<i class="fa fa-pencil-square-o" style="color:#115a64" *ngIf="product.productType=='Design'" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td scope="row">
        <b>Brand</b>
      </td>
      <td>{{product.brand}}</td>
    </tr>
  </table>
  <div class="card-footer text-muted">
    <button type="button" class="btn btn-light" [routerLink]="['/products',product.id]" >Detail</button>
    <button type="button" class="btn btn-danger" (click)="delete()" >Remove</button>
  </div>
</div>
